streamlit==1.31.1
pandas==2.2.0
numpy
matplotlib==3.8.3
seaborn
scikit-learn
streamlit-pandas-profiling==0.1.3
plotly
sweetviz
# os
apikey
langchain-community
python-dotenv
langchain_experimental
openai==0.28
tabulate
wikipedia
streamlit_option_menu
ydata-profiling
